@media print{
  div,p,h3[_ngcontent-c19]{color:rgba(0,0,0,1);}
}
h3{
text-align: center;
/* color:rgba(0,0,0,1); */
}
p{
display: block;
float: left;
width: 33.3%;
text-align: center;
}
li{
list-style:none;
}
img{
vertical-align:top;
}
.clear{
zoom:1;
}
.clear:after{
content:"";
display:block;
clear:both;
}
.container-fluid{
width: 90%;
}
.container-fluid[_ngcontent-c0]{
border: 1px solid #000;
border-top: 0;
border-left: 0;
}
div{
border-top:1px solid #000;
border-left:1px solid #000;
line-height:30px;
font-size: 20px;
font-family:"黑体";
color:rgba(0,0,0,1);
}
.noborder,.container-fluid,.row{
border:none;
}
.container-fluid{
border-bottom:1px solid #000;
border-right:1px solid #000;
}
